.comp-grid-acceuil {
    width: 95%; 
    margin: auto;
    margin-top: 0;
}

.comp-top-card-acceuil{
    margin: auto;
    width: 98%;
}

.accueil-comp {
    margin: auto;
    width: 98%;
}

/* .comp-header {
    background-color: gray !important;
    color: white;
    padding: 5px !important;
}

.mat-card {
    padding: 0 !important;
}

.mat-card-content {
    padding: 10px !important;
} */
