/* @import url('src/styles/theme.scss'); */

.mat-card {
  margin-bottom: 1rem;
  line-height: 0.7;
}

mat-form-field {
  width: 32%;
}

.l-demi {
  width: 48%;
}
/**
.input-group {
  padding-bottom: 2%;
}
**/
