<mat-card class="container">
    <mat-card-title>Connexion</mat-card-title>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
        <mat-form-field class="form-element" appearance="fill">
            <mat-label>Courriel</mat-label>
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="!myForm.controls['email'].valid && myForm.controls['email'].touched">
                {{ getErrorEmail() }}
              </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element" appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="!myForm.controls['password'].valid && myForm.controls['password'].touched">
                {{ getErrorPassword() }}
              </mat-error>
        </mat-form-field>
        <mat-form-field class="form-element" appearance="fill">
            <mat-label>Académie</mat-label>
            <select matNativeControl formControlName="academie">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <mat-error *ngIf="!myForm.controls['academie'].valid && myForm.controls['academie'].touched">
                {{ getErrorAcademie() }}
              </mat-error>
          </mat-form-field>

          <div  class="form-element">
            <button mat-flat-button color="primary" class="valid-button" type="submit">Valider</button>
        </div>
    </form>
</mat-card>